{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/tagsinput.css' %}">

{% endblock %}

{% block content %}

    <div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Post you Ads</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Post you Ads</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                {% include 'includes/sidebar.html' %}

                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="row page-content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="inner-box">
                                    <div class="dashboard-box">
                                        <h2 class="dashbord-title">Ad Detail</h2>
                                    </div>
                                    <div class="dashboard-wrapper">
                                        <div class="form-group mb-3">
                                            <label class="control-label">Title</label>
                                            <input class="form-control input-md" name="title" placeholder="Title"
                                                   type="text" required value="{{ form.title.value|default:'' }}">
                                            {% if 'title' in form.errors %}
                                                {% for error in form.title.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <a href="#" class="close" data-dismiss="alert"
                                                           aria-label="close">&times;</a>
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">Categories</label>
                                            <div class="tg-select form-control">
                                                <select name="category" required>
                                                    <option value="" selected>Select Category</option>
                                                    {% for category in categories %}
                                                        <option value="{{ category.id }}">{{ category.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% if 'category' in form.errors %}
                                                {% for error in form.category.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <a href="#" class="close" data-dismiss="alert"
                                                           aria-label="close">&times;</a>
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Price</label>
                                            <input class="form-control input-md" name="price"
                                                   placeholder="Your Price"
                                                   type="number" required value="{{ form.price.value|default:'' }}">
                                            {% if 'price' in form.errors %}
                                                {% for error in form.price.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <a href="#" class="close" data-dismiss="alert"
                                                           aria-label="close">&times;</a>
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Tags</label>
                                            <input class="form-control input-md" name="tags"
                                                   placeholder="Add Tags"
                                                   data-role="tagsinput"
                                                   type="text" required value="{{ form.tags.value|default:'' }}">
                                        </div>
                                        <div class="form-group md-3">
                                            <label class="control-label">Description</label>
                                            <textarea required class="form-control input-md"
                                                      rows="5"
                                                      name="description">{{ form.description.value|default:'' }}</textarea>

                                            {% if 'description' in form.errors %}
                                                {% for error in form.description.errors %}
                                                    <div class="alert alert-danger alert-dismissable">
                                                        <a href="#" class="close" data-dismiss="alert"
                                                           aria-label="close">&times;</a>
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <label class="tg-fileuploadlabel" for="tg-photogallery">
                                            <span>Drop files anywhere to upload</span>
                                            <span>Or</span>
                                            <span class="btn btn-common">Select Files</span>
                                            <span>Maximum upload file size: 1MB</span>
                                            <input id="tg-photogallery" required class="tg-fileinput" multiple
                                                   type="file"
                                                   accept="image/*"
                                                   name="image">
                                        </label>
                                    </div>
                                    <button class="btn btn-common" type="submit">Post Ad</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'assets/js/tagsinput.js' %}"></script>

    <script type="text/javascript">
        $('#summernote').summernote({
            height: 250, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false // set focus to editable area after initializing summernote
        });
    </script>

{% endblock %}