{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Listings</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Listings</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container section-padding" id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
                    <aside>
                        <div class="widget_search">
                            <form role="search" id="search-form">
                                <input type="search" class="form-control" autocomplete="off" name="s"
                                       placeholder="Search..." id="search-input" value="">
                                <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i>
                                </button>
                            </form>
                        </div>

                        <div class="widget categories">
                            <h4 class="widget-title">All Categories</h4>
                            <ul class="categories-list">
                                <li v-for="category in categories" @click="filter(category)" style="cursor: pointer">
                                    <i class="lni-control-panel"></i>
                                    [[ category.title ]]
                                    <span class="category-counter">([[ category.total_ads ]])</span>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title">Advertisement</h4>
                            <div class="add-box">
                                <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-12 col-xs-12 page-content">

                    <div class="product-filter">
                        <div class="short-name">
                            <span>Showing all items</span>
                        </div>
                        <div class="Show-item">
                            <span>Show Items</span>
                            <form class="woocommerce-ordering" method="post">
                                <label>
                                    <select name="order" class="orderby">
                                        <option selected="selected" value="menu-order">49 items</option>
                                        <option value="popularity">popularity</option>
                                        <option value="popularity">Average ration</option>
                                        <option value="popularity">newness</option>
                                        <option value="popularity">price</option>
                                    </select>
                                </label>
                            </form>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#grid-view"><i class="lni-grid"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#list-view"><i class="lni-list"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="adds-wrapper">
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" v-for="ad in ads">
                                        <div class="featured-box">
                                            <figure>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#">
                                                    <img class="img-fluid"
                                                         :src="[[ ad.first_image_or_default ]]"
                                                         alt="">
                                                </a>
                                            </figure>
                                            <div class="feature-content">
                                                <h4>
                                                    <a :href="[[ ad.url ]]">[[ ad.title ]]</a>
                                                </h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> [[ ad.user.username ]]</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> [[ ad.category.title ]]</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">[[ ad.description ]]</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$[[ ad.price ]]</h3>
                                                    <a :href="[[ ad.url ]]" class="btn btn-common float-right">View
                                                        Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="list-view" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" v-for="ad in ads">
                                        <div class="featured-box">
                                            <figure>
                                                <div class="icon">
                                                    <span class="bg-green"><i class="lni-heart"></i></span>
                                                    <span><i class="lni-bookmark"></i></span>
                                                </div>
                                                <a href="#">
                                                    <img class="img-fluid"
                                                         :src="[[ ad.first_image_or_default ]]"
                                                         alt="">
                                                </a>
                                            </figure>
                                            <div class="feature-content">
                                                <h4>
                                                    <a href="">[[ ad.title ]]</a>
                                                </h4>
                                                <div class="meta-tag">
                                                    <span>
                                                        <a href="#"><i class="lni-user"></i> [[ ad.user.username ]]</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="lni-tag"></i> [[ ad.category.title ]]</a>
                                                    </span>
                                                </div>
                                                <p class="dsc">[[ ad.description ]]</p>
                                                <div class="listing-bottom">
                                                    <h3 class="price float-left">$[[ ad.price ]]</h3>
                                                    <a href="#"
                                                       class="btn btn-common float-right">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{#                    <div class="pagination-bar">#}
{#                        <nav>#}
{#                            <ul class="pagination justify-content-center">#}
{#                                <li class="page-item"><a class="page-link active" href="#">1</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script type='text/javascript'>
        document.addEventListener('DOMContentLoaded', function () {
            new Vue({
                delimiters: ['[[', ']]'],
                el: '#app',
                data: {
                    categories: [],
                    ads: [],
                    domain: '{{ request.scheme }}://{{ request.META.HTTP_HOST }}'
                },
                created() {
                    // fetch categories
                    axios.get(`/api/categories/`)
                        .then((res) => {
                            this.categories = res.data;
                        })
                        .catch(err => {
                            console.log(err);
                        })
                    // fetch ads
                    this.get_ads();
                },
                methods: {
                    filter(category) {
                        this.get_ads(category.id)
                    },
                    get_ads(id = '') {
                        axios.get(`/api/ads/?category=${id}`)
                            .then((res) => {
                                console.log(res.data);
                                this.ads = res.data;
                            })
                            .catch(err => {
                                console.log(err);
                            })
                    }
                }
            })
        })
    </script>

{% endblock %}